@media only screen and (max-width: 720px) {
    .co{
        margin-left: -80px;
    }
  
}

.sorted-header {
    background-color: #e0e0e0;  /* Add your desired background color for the sorted header */
    cursor: pointer;
  }

  