<div class="row">
  <div class="col-md-12">
    <h1>Upload Bills</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="form-label">Upload Excel Sheet</label>
      <input class="form-control" type="file" (change)="onFileChange($event)" />
      
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Please Make sure your excel sheet has following format
      <a href="assets/mybill.xlsx"  download="sample">Clickhere to download Sample sheet</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-12">
    <table class="table table-bordered">
      <tr>
        <td>userName</td>
        <td>cardNumber</td>
        <td>amountSpent</td>
        <td>date</td>
        <td>rewards</td>
        <td>transactionType</td>
      </tr>
      <tr>
        <td>nitish</td>
        <td>123456789</td>
        <td>5000</td>
        <td>04-02-2024</td>
        <td>1</td>
        <td>Food</td>
      </tr>
    </table>
  </div>
</div>
