<div class="cardpage">
  <h1 style="text-align: center">Add New Card</h1>
  <a routerLink="/navbar/cards" class="btn btn-primary mb-3 ml-4"
    >View My Cards</a
  >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form #creditCardForm="ngForm" (ngSubmit)="onSubmit(creditCardForm)">
            <div class="form-group">
              <label for="cardNumber">Card Number</label>
              <input type="text" class="form-control" id="cardNumber" name="cardNumber" ngModel required pattern="\d{16}" placeholder="Enter 16-digit card number"/>
            </div>

            <div class="form-group">
              <label for="cardHolder">Cardholder Name</label>
              <input type="text" class="form-control" id="cardHolder" name="cardHolder" ngModel required pattern="[A-Za-z ]+" placeholder="Enter cardholder name"/>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="expirationDate">Expiry (MM/YY)</label>
                <input type="text" class="form-control" id="expirationDate" name="expirationDate" ngModel required pattern="^(0[1-9]|1[0-2])\/\d{2}$" placeholder="Enter expiration date (MM/YY)"/>
              </div>

              <div class="form-group col-md-6">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" id="cvv" name="cvv" ngModel required pattern="\d{3}" placeholder="Enter 3-digit CVV"/>
              </div>
            </div>

            <div class="form-group">
              <label for="setLimit">Set Limit</label>
              <input type="text" class="form-control" id="setLimit" name="setLimit" ngModel required pattern="\d+" placeholder="Enter set limit (numbers only)"/>
            </div>

            <div class="form-group">
              <label for="Card Type">Card Type</label>
              <input type="text" class="form-control" id="cardType" name="cardType" ngModel required placeholder="Enter card type"/>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <!---confirm form--->
      <div class="col-md-6">
        <div *ngIf="displayCreditCard" class="card">
          <div class="card-body">
            <h5 class="card-title">Credit Card</h5>
            <div class="card-number">
              Card Number:{{ creditCardData.cardNumber }}
            </div>
            <div class="card-holder">
              Card Holder:{{ creditCardData.cardHolder }}
            </div>
            <div class="expiration-date">
              Expiry:{{ creditCardData.expirationDate }}
            </div>
            <div class="cvv">CVV{{ creditCardData.cvv }}</div>
            <div class="set-limit">
              Set Limit: {{ creditCardData.setLimit }}
            </div>
            <div class="card-type">
              Card type: {{ creditCardData.cardType }}
            </div>
            <button type="reset" class="btn btn-primary" (click)="okaybutton()">
              Confirm Details
            </button>
          </div>
        </div>

        <!--card validation-->
        <div class="col-md-6">
          <div class="card" *ngIf="!displayCreditCard">
            <div class="card-body">
              <h5 class="card-title">Card Details</h5>
              <div
                *ngIf="creditCardForm.invalid && creditCardForm.dirty"
                class="alert alert-danger"
              >
                <div
                  *ngIf="
                    creditCardForm.controls['cardNumber'].invalid &&
                    creditCardForm.controls['cardNumber'].dirty
                  "
                >
                  Please enter a valid 16-digit card number.
                </div>
                <div
                  *ngIf="
                    creditCardForm.controls['cardHolder'].invalid &&
                    creditCardForm.controls['cardHolder'].dirty
                  "
                >
                  Please enter a valid cardholder name.
                </div>
                <div
                  *ngIf="
                    creditCardForm.controls['expirationDate'].invalid &&
                    creditCardForm.controls['expirationDate'].dirty
                  "
                >
                  Please enter a valid expiration date (MM/YY).
                </div>
                <div
                  *ngIf="
                    creditCardForm.controls['cvv'].invalid &&
                    creditCardForm.controls['cvv'].dirty
                  "
                >
                  Please enter a valid 3-digit CVV.
                </div>
                <div
                  *ngIf="
                    creditCardForm.controls['setLimit'].invalid &&
                    creditCardForm.controls['setLimit'].dirty
                  "
                >
                  Please enter a valid set limit (numbers only).
                </div>
                <div
                  *ngIf="
                    creditCardForm.controls['cardType'].invalid &&
                    creditCardForm.controls['cardType'].dirty
                  "
                >
                  Please enter a valid card type.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
